.custom-three-dots-loading {
  display: inline-flex;
  align-items: center;
}

.custom-three-dots-loading span {
  animation: custom-three-dots-bounce 1.4s infinite ease-in-out both;
}

.custom-three-dots-loading span:nth-child(1) {
  animation-delay: -0.32s;
}

.custom-three-dots-loading span:nth-child(2) {
  animation-delay: -0.16s;
}

.custom-three-dots-loading span:nth-child(3) {
  animation-delay: 0s;
}

@keyframes custom-three-dots-bounce {
  0%, 80%, 100% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
